a {
    text-decoration: none;
    color: black;
    
}

.resume {
    
    margin: 0px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 150px;
    justify-content: center;
    align-items: center;
    background-color: rgb(195 154 76 / 70%);
    text-decoration: none;
}
.p {
    padding: 20px;
    text-align: justify;
}


@media (max-width: 768px) {
    .about {
        display: flex;
        flex-direction: column;
    }
}